<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django File Upload and hash verification</title>
    </head>

    <body>
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "sha1hash_view_name" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p>{{ form.dochash.label_tag }} {{ form.dochash.help_text }}</p>
            <p>
                {{ form.dochash.errors }}
                {{ form.dochash }}
            </p>

            <p><input type="submit" value="Verify"/></p>
        </form>
    </body>

</html>